<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../assets/icons/icon.ico" type="image/ico">

<link rel="stylesheet" href="../../fractal/css/default.css?cachebust=1.1.0" type="text/css">

<link rel="stylesheet" href="../../assets/styles/theme.css?cachebust=1.1.0" type="text/css">


<title>Index Template: Archives | Bits of 24 ways</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../.." class="Header-title" data-pjax>Bits of 24 ways</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    
        
        
        
    

<div class="Pen" data-behaviour="pen" id="pen-16b02f98fe64b4a10703022a4b299408">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/index-template--archives" title="Component preview">
            Index Template: Archives
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-16b02f98fe64b4a10703022a4b299408">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>(unknown path)
  Template render error: (<a class="c-menu" href="#navigation">
  {% include &quot;menu.svg&quot; %}
  <span class="u-hidden">Jump to menu</span>
</a>
)
  Error: template not found: menu.svg</p>

    </div>
    
</div>

            
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-16b02f98fe64b4a10703022a4b299408">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-16b02f98fe64b4a10703022a4b299408-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-16b02f98fe64b4a10703022a4b299408-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-16b02f98fe64b4a10703022a4b299408-panel-context">Context</a>
        </li>
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-16b02f98fe64b4a10703022a4b299408-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-16b02f98fe64b4a10703022a4b299408-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-16b02f98fe64b4a10703022a4b299408-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><!-- Error rendering component:  --></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-16b02f98fe64b4a10703022a4b299408-panel-view">
    <code class="Code Code--lang-html">
        <pre>{% extends "<a href="page">@page</a>" %}
{% block main %}
<span class="hljs-tag">&lt;<span class="hljs-name">section</span>&gt;</span>
  {% include "<a href="preface">@preface</a>" %}
  {%- for section in sections -%}
    {% render "<a href="section">@section</a>", section %}
  {%- endfor -%}
<span class="hljs-tag">&lt;/<span class="hljs-name">section</span>&gt;</span>
{% endblock %}</pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-16b02f98fe64b4a10703022a4b299408-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"site"</span>: {
    <span class="hljs-attr">"title"</span>: <span class="hljs-string">"24 ways"</span>,
    <span class="hljs-attr">"handle"</span>: <span class="hljs-string">"24ways"</span>,
    <span class="hljs-attr">"description"</span>: <span class="hljs-string">"24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer."</span>,
    <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://24ways.org"</span>,
    <span class="hljs-attr">"feed"</span>: <span class="hljs-string">"https://feeds.feedburner.com/24ways"</span>,
    <span class="hljs-attr">"theme_color"</span>: <span class="hljs-string">"#f04"</span>
  },
  <span class="hljs-attr">"theme"</span>: {
    <span class="hljs-attr">"year"</span>: [
      <span class="hljs-number">348</span>,
      <span class="hljs-number">344</span>,
      <span class="hljs-number">340</span>,
      <span class="hljs-number">336</span>,
      <span class="hljs-number">332</span>,
      <span class="hljs-number">328</span>,
      <span class="hljs-number">324</span>,
      <span class="hljs-number">320</span>,
      <span class="hljs-number">316</span>,
      <span class="hljs-number">312</span>,
      <span class="hljs-number">308</span>,
      <span class="hljs-number">304</span>,
      <span class="hljs-number">300</span>,
      <span class="hljs-number">296</span>,
      <span class="hljs-number">292</span>,
      <span class="hljs-number">288</span>
    ],
    <span class="hljs-attr">"day"</span>: [
      <span class="hljs-number">360</span>,
      <span class="hljs-number">353</span>,
      <span class="hljs-number">346</span>,
      <span class="hljs-number">339</span>,
      <span class="hljs-number">332</span>,
      <span class="hljs-number">325</span>,
      <span class="hljs-number">318</span>,
      <span class="hljs-number">311</span>,
      <span class="hljs-number">304</span>,
      <span class="hljs-number">297</span>,
      <span class="hljs-number">290</span>,
      <span class="hljs-number">283</span>,
      <span class="hljs-number">276</span>,
      <span class="hljs-number">269</span>,
      <span class="hljs-number">262</span>,
      <span class="hljs-number">255</span>,
      <span class="hljs-number">248</span>,
      <span class="hljs-number">241</span>,
      <span class="hljs-number">234</span>,
      <span class="hljs-number">227</span>,
      <span class="hljs-number">220</span>,
      <span class="hljs-number">213</span>,
      <span class="hljs-number">206</span>,
      <span class="hljs-number">199</span>
    ]
  },
  <span class="hljs-attr">"title"</span>: <span class="hljs-string">"Archives"</span>,
  <span class="hljs-attr">"section"</span>: <span class="hljs-string">"archives"</span>,
  <span class="hljs-attr">"sections"</span>: [
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2015</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2015"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Ports and protocols were the name of the game, with swathes of the web switching to HTTPS connections. HTTP2 also started to gain adoption, and in doing so turned all we had learned about performance optimisation on its head. 24 ways saw increasing exploration of animation on the web, as well as renewed interest in accessibility, style guides and progressive enhancement.\n\n&lt;a class=\"c-continue\" href=\"/2015/\"&gt;24 ways to impress your friends in 2015&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2014</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2014"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"The web turned twenty-five and showed no sign of settling down in semi-detached suburbia. In October, HTML5 was released as a W3C Recommendation. Back in May, 24 ways was very excited and grateful to win the net award for best collaborative project – a huge thank you to all our authors, readers and supporters!\n\n&lt;a class=\"c-continue\" href=\"/2014/\"&gt;24 ways to impress your friends in 2014&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2013</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2013"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Scourge of browser vendors everywhere, WaSP buzzed its last in March. Dave Shea's CSS Zen Garden celebrated its tenth anniversary in May, and Google Glass was released. Ever broad in its interests, 24 ways tamed Grunt, URLs and GitHub Pages, encouraged readers to write and publish books, and leavened all that with goodies on project management, web typography and SVG.\n\n&lt;a class=\"c-continue\" href=\"/2013/\"&gt;24 ways to impress your friends in 2013&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2012</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2012"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"During the same month that HTML5 was designated a Candidate Recommendation by the W3C, 24 ways covered issues of performance as part of responsive web design, CSS and preprocessing, responsive images (again) and design systems.\n\n&lt;a class=\"c-continue\" href=\"/2012/\"&gt;24 ways to impress your friends in 2012&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2011</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2011"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"In October, Steve Jobs died. The thorniest part of responsive web design, and an arena for many competing and dissenting voices was images. 24 ways tackled that and many other issues head on: conditional loading; front-end style guides; icon fonts; and the importance of side projects.\n\n&lt;a class=\"c-continue\" href=\"/2011/\"&gt;24 ways to impress your friends in 2011&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2010</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2010"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"In April, the iPad; in May, Ethan Marcotte's \"Responsive Web Design\" was published by A List Apart, and A Book Apart published &lt;cite&gt;HTML5 for Web Designers&lt;/cite&gt; by Jeremy Keith; and then in June, the iPhone 4's Retina screen changed the web development landscape. 24 ways sprinkled its Christmas pudding with CSS3, including animations and transforms, a little light content strategy, and some thoughts about the web designer of tomorrow.\n\n&lt;a class=\"c-continue\" href=\"/2010/\"&gt;24 ways to impress your friends in 2010&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2009</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2009"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"A year when books were winning (Five Simple Steps published &lt;cite&gt;A Practical Guide to Designing for the Web&lt;/cite&gt; by Mark Boulton and &lt;cite&gt;Designing with Web Standards&lt;/cite&gt; by Jeffrey Zeldman and Ethan Marcotte reached its third edition) and the web was losing (Yahoo! closed Geocities). Significant progress was made with web fonts and HTML5, and 24 ways delivered the Christmas gifts again.\n\n&lt;a class=\"c-continue\" href=\"/2009/\"&gt;24 ways to impress your friends in 2009&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2008</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2008"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"This year saw Apple's App Store open, and the release of Android 1.0 and Google Chrome 1.0. Taking all that in its stride, 24 ways brought its seasonal perspective to bear on business, with articles on project management, the path from design to development, how to charm clients, and killer contracts. Also, a first look at modular layout systems. Pulse, meet finger.\n\n&lt;a class=\"c-continue\" href=\"/2008/\"&gt;24 ways to impress your friends in 2008&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2007</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2007"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Apple launched the iPhone in June; Amazon released the Kindle in November — a big year. At three, 24 ways was as diverse as ever, taking a detailed look at font stacks, website performance, working with clients and markup.\n\n&lt;a class=\"c-continue\" href=\"/2007/\"&gt;24 ways to impress your friends in 2007&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2006</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2006"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"In March, the first tweets were tweeted; in August, jQuery 1.0 appeared. In its second year, 24 ways wrote responsible JavaScript and hinted at a mobile web, although mobile phones didn't yet have proper browsers. Using CSS3 in client work was still a pipedream. And in October, IE7 was officially released by Microsoft — no words.\n\n&lt;a class=\"c-continue\" href=\"/2006/\"&gt;24 ways to impress your friends in 2006&lt;/a&gt;\n"</span>
    },
    {
      <span class="hljs-attr">"id"</span>: <span class="hljs-number">2005</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"2005"</span>,
      <span class="hljs-attr">"content"</span>: <span class="hljs-string">"It all started here, in the heady days of Web 2.0. Ajax was the first new browser technology we'd seen in years, and combined with a new breed of libraries such as Prototype, it kick-started the JavaScript renaissance.\n\n&lt;a class=\"c-continue\" href=\"/2005/\"&gt;24 ways to impress your friends in 2005&lt;/a&gt;\n"</span>
    }
  ]
}</pre>
            
        
    </code>
</div>

    
    


    
    <div class="Browser-panel" data-role="tab-panel" id="browser-16b02f98fe64b4a10703022a4b299408-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@index-template--archives</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(3)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="index-template--topics">
                    <span>Topics</span>
                </a>, 
            
                <a href="">
                    <span>Archives</span>
                </a>, 
            
                <a href="index-template--authors">
                    <span>Authors</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/index-template--archives"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/index-template--archives"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/components/templates/index-template/index-template.html</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">References <em class="Meta-count">(3)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="page">@<span>page</span></a>, 
            
                <a href="preface">@<span>preface</span></a>, 
            
                <a href="section">@<span>section</span></a>
            
            </span>
        </li class="Meta-item">
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-16b02f98fe64b4a10703022a4b299408-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-utilities">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Utilities</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="hidden" data-pjax>
                <span>Hidden</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-common">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Common</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="article" data-pjax>
                <span>Article</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="author" data-pjax>
                <span>Author</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="avatar" data-pjax>
                <span>Avatar</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button" data-pjax>
                <span>Button</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="comment" data-pjax>
                <span>Comment</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="comment-form" data-pjax>
                <span>Comment Form</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="continue" data-pjax>
                <span>Continue</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="field" data-pjax>
                <span>Field</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="meta" data-pjax>
                <span>Meta</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="preface" data-pjax>
                <span>Preface</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="promo" data-pjax>
                <span>Promo</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="search-form" data-pjax>
                <span>Search Form</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="section" data-pjax>
                <span>Section</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="summary" data-pjax>
                <span>Summary</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-global">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Global</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="banner" data-pjax>
                <span>Banner</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="contentinfo" data-pjax>
                <span>Contentinfo</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="menu" data-pjax>
                <span>Menu</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="navigation" data-pjax>
                <span>Navigation</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="search" data-pjax>
                <span>Search</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="site-nav" data-pjax>
                <span>Site Nav</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="topics-nav" data-pjax>
                <span>Topics Nav</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="traverse-nav" data-pjax>
                <span>Traverse Nav</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-layouts">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Layouts</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-grid">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Grid</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="grid--default" data-pjax>
                <span>Default</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="grid--authors" data-pjax>
                <span>Authors</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-scopes">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Scopes</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="embed" data-pjax>
                <span>Embed</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gallery" data-pjax>
                <span>Gallery</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="note" data-pjax>
                <span>Note</span>
                
            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-prose">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Prose</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="prose--default" data-pjax>
                <span>Default</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="prose--article" data-pjax>
                <span>Article</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="syntax" data-pjax>
                <span>Syntax</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="article-template" data-pjax>
                <span>Article Template</span>
                
            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-content-template">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Content Template</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="content-template--about" data-pjax>
                <span>About</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="content-template--404" data-pjax>
                <span>404</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-index-template">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Index Template</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="index-template--topics" data-pjax>
                <span>Topics</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Archives</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="index-template--authors" data-pjax>
                <span>Authors</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-listing-template">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Listing Template</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--home" data-pjax>
                <span>Home</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--topic" data-pjax>
                <span>Topic</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--archive" data-pjax>
                <span>Archive</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--author" data-pjax>
                <span>Author</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--search-results" data-pjax>
                <span>Search Results</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/tokens" data-pjax>
                <span>Design tokens</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../fractal/js/mandelbrot.js?cachebust=1.1.0"></script>



</body>
</html>
